/* Write some CSS below */
body {
  font-family: 'Overpass', sans-serif;
  color: rgb(30, 30, 30);
  font-size: 18px;
  background-color: rgb(230,230,230);
  margin: 0px;
}

h1 {
  font-family: 'Chivo' , sans-serif;
} 
h2 {
  font-family: Times New Roman;
  color: #ff2e63;
} 
h3 {
  font-family: Courier;
}
a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}
a:hover {
  color: #CE2FAE;
}
/* custom class design */

.container {
  width: 800px;
  margin: auto;
}
.button-blue {
	background-color: #1A48E3;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
}
.banner {
	background-image: url(images/background.jpg);
	background-size: cover;
	color: white;
	text-align: center;
	padding: 150px 0px;
}
.banner h1 {
	font-size: 45px;
	margin: 0;
}
.banner p {
	font-size: 20px;
	opacity: 0.7;
	margin-bottom: 40px;
}
.card-white {
	background-color: white;
	box-shadow: 1px 1px 16px rgba(0,0,0,0.1);
	padding: 24px;
	border-radius: 4px;
	width: 200px;
	margin: 8px;
	text-align: center;
}
.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 3px;
}
.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}
.footer p {
  color: white;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
/* Cards media queries */

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-white {
    width: auto;
  }
}
/* Container media queries */

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}






